 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 
 ul {
 	list-style: none;
 }
 
 .box-wrap {
 	width: 800px;
 	/*height: 200px;*/
 	/*border: 1px solid red;*/
 	margin: 0 auto;
 }
 
 .img-box {
 	width: 100%;
 }
 
 .img-box img {
 	width: 100%;
 }
 
 .write-box {
 	width: 100%;
 	/*height: 200px;*/
 	/*background-color: #ccc;*/
 	border-top: 5px solid #f00;
 	position: relative;
 }
 
 .write-area {
 	width: 100%;
 	height: 150px;
 	padding: 10px 10px 10px 10px;
 	font-size: 18px;
 	resize: none;
 	border: 1px solid #ffb3ba;
 	outline: none;
 }
 
 .tips {
 	position: absolute;
 	right: 0;
 	bottom: 60px;
 	display: none;
 	padding-right: 20px;
 	text-align: right;
 	padding-top: 5px;
 	font-size: 12px;
 }
 
 strong {
 	color: #1ad944;
 	margin: 0 5px;
 }
 
 .btn-box {
 	text-align: right;
 	padding: 10px;
 }
 
 .btn-base {
 	margin: 0 10px;
 	width: 50px;
 	height: 30px;
 	border: none;
 	outline: none;
 	border-radius: 5px;
 	background-color: #ff433f;
 	color: #fff;
 }
 
 .btn-base:hover {
 	background-color: #a42b29;
 }
 
 .btn-sub {
 	background-color: #3b80ff;
 }
 
 .btn-sub:hover {
 	background-color: #2857ad;
 }
 
 .message-box {
 	padding: 10px;
 }
 
 .message-box h3 {
 	border-bottom: 2px solid #ffc1b8;
 	padding-bottom: 2px;
 }
 
 .message {
 	width: 100%;
 	/*border: 1px solid #ccc;*/
 	padding: 5px;
 	margin: 5px 0;
 	position: relative;
 }
 
 .message h6 {
 	display: inline-block;
 	font-size: 14px;
 	color: #ccc;
 }
 
 .message-top {
 	position: relative;
 }
 
 .message-top .date {
 	font-size: 12px;
 	color: #ccc;
 	position: absolute;
 	right: 10px;
 	top: 0;
 }
 
 .message p {
 	margin: 5px 0;
 	width: 100%;
 	/*padding-right: 80px;*/
 }
 
 .no-comment {
 	text-align: center;
 	padding: 20px 0;
 	color: #777;
 }
 
 .del-box {
 	display: none;
 	text-align: right;
 	position: absolute;
 }
 
 .del-comment {
 	cursor: pointer;
 	color: red;
 	font-size: 12px;
 	/*display: block;*/
 }