body {
	background-color: #ebebeb;
}


/*头部banner*/

.header-wrap {
	padding-top: 62px;
	padding-bottom: 62px;
	background: url(../img/bg.jpg) no-repeat center 20%;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.header-wrap h1 {
	font-size: 3em;
}

.btn-self {
	position: relative;
	bottom: -40px;
	border: 1px solid #f1362f;
	background-color: transparent;
	color: #fff;
}

.btn-self:hover {
	background-color: #222;
	border: 1px solid #222;
	color: #fff;
}


/*导航栏*/

.navbar-nav {
	display: inline-block;
	text-align: center;
	float: none;
}

.navbar-toggle {
	float: none;
}

.navbar .mynav .nav-a:hover {
	color: #f4645f;
}

.navbar .mynav .nav-a.nav-a-strong {
	font-weight: bold;
}


/*主要内容*/

.content-news {
	padding: 35px;
	background: #fff;
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
}

.content-news .content-head .content-title {
	margin: 0;
	font-size: 2em;
	line-height: 1.2em;
}

.content-news .content-head .content-title a {
	margin: 0;
	font-size: 28px;
	line-height: 1.2em;
	color: #000;
}

.content-news .content-head .content-title a:hover {
	text-decoration: none;
}

.content-news .content-info {
	color: #959595;
	margin: 14px 0 0;
}

.content-news .content-info a {
	color: #f4645f;
}

.content-img {
	margin-top: 30px;
	overflow: hidden;
}

.content-img img {
	width: 100%;
}

.content-text {
	margin: 30px 0;
	font: 400 18px/1.62 Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	color: #444443;
}

.content-btn-link {
	border: 1px solid #f4645f;
	background: #f4645f;
	color: #fff;
	padding: 7px 14px;
	border-radius: 2px;
}

.content-btn-link:hover {
	background: #222;
	color: #fff;
}

.content-foot {
	margin-top: 30px;
	border-top: 1px solid #ebebeb;
	padding: 21px 0 0;
}

.page-self {
	margin: 0 0 35px;
	text-align: center;
	display: block;
	border-radius: 4px;
}

.pagination .page-number {
	background: #f4645f;
	color: #fff;
	margin: 0 3px;
	display: inline-block;
	line-height: 36px;
	padding: 0 14px;
	border-radius: 2px;
}

.pagination a {
	text-align: center;
	display: inline-block;
	color: #fff;
	background: #f4645f;
	line-height: 36px;
	border-radius: 2px;
	width: 36px;
	height: 36px;
	line-height: 36px;
}


/*侧边栏*/

.sidebar .widget {
	background: #fff;
	padding: 21px 30px;
	margin-bottom: 35px;
}

.sidebar .widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative;
	font-size: 1.5em;
}

.sidebar .widget .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #f4645f;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.widget p {
	margin: 0 0 10px;
}

.widget a {
	color: #f4645f;
}

.iconself {
	color:#f4645f;	
}

.widget .btn-download {
	border: 1px solid #f4645f;
	background: #f4645f;
	color: #fff;
	padding: 7px 14px;
	border-radius: 2px;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.widget .btn-download:hover {
	background-color: #222;
	border: 1px solid #222;
}


/*页脚部分*/

.foot-self {
	background-color: #202020;
	padding: 35px 0 0;
	color: #959595;
}

.widge {
	padding: 0 30px;
	margin-bottom: 35px;
}

.foot-news {
	border-bottom: 1px dashed #303030;
	padding-bottom: 14px;
	margin-bottom: 14px;
}

.news-date {
	/*line-height: 20px;*/
	margin-top: 5px;
	color: #505050;
}

.foot-news a {
	font-size: 14px;
	color: #959595;
}

.foot-news a:hover {
	text-decoration: none;
	color: #f4645f;
}

.foot-title {
	color: #fff;
	border-bottom: 1px solid #303030;
	font-size: 1.5em;
	position: relative;
	padding-bottom: 5px;
}

.mt25 {
	margin-top: 25px;
}

.foot-title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #f4645f;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.foot-cloud {
	border: 1px solid #303030;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin-top: 20px;
}

.foot-cloud:hover {
	background-color: #f4645f;
	color: #fff;
	text-decoration: none;
}

.foot-links {
	border-bottom: 1px dashed #303030;
	padding-bottom: 14px;
	margin-bottom: 14px;
}

.foot-links a {
	float: left;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
}

.foot-links a:hover {
	background-color: #f4645f;
	color: #fff;
	text-decoration: none;
}


/*公司注册*/

.copyright {
	background: #111;
	font-size: 13px;
	text-align: center;
	color: #555;
	padding-top: 28px;
	padding-bottom: 28px;
	border-top: 1px solid #303030;
}

.copyright span {
	margin: 0 .5em;
	line-height: 25px;
}

.copyright a {
	color: #555;
}


/* 回到顶部 */

#btnTop {
	width: 30px;
	height: 30px;
	background: rgba(244, 100, 95, .6);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
}

#btnTop span {
	border: 5px solid transparent;
	border-bottom-color: #fff;
	position: absolute;
	left: 9px;
	top: 7px;
}

#btnTop:hover {
	background-color: rgba(244, 100, 95, 1);
	;
}